.pfa-container {
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pfa-secound-container {
  width: 80%;
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pfa-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  padding: 3%;
}
