.container-template {
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-container {
  width: 80%;
  background-image: url("../images/img1.png");
  height: 93vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 2px;
}

.text-container-template {
  position: absolute;
  top: 25%;
  transform: translateY(-40%);
  margin-left: 10%;
  color: #fff;
  width: 100%;
}

.details-container {
  position: absolute;
  top: 48%;
  transform: translateY(-10%);
  margin-left: 10%;
  color: #fff;
  width: 50%;
}

.details-container p {
  font-size: 1.5rem;
  line-height: 1.5;
}

.container-list {
  position: absolute;
  top: 65%;
  margin-left: 9%;
  color: #fff;
}

.container-list ul {
  list-style-type: none;
}

.container-list ul li {
  position: relative;
  padding-left: 1.5em;
}

.container-list ul li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: blue;
  font-weight: bold;
}

.button-start {
  margin-top: 10px;
  margin-left: 20%;
  padding: 8px;
  font-size: 1.2rem;
  background-color: #fff;
  color: blue;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .container-template {
    width: 100%;
    height: auto;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .center-container {
    width: 95%;
    background-image: url("../images/img1.png");
    height: 93vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 2px;
  }

  .container-list {
    top: 68%;
    color: #fff;
    font-weight: 400;
    left: 1%;
  }
}

@media only screen and (max-width: 900px) {
  .text-container-template {
    position: absolute;
    top: 25%;
    transform: translateY(-40%);
    margin-left: 10%;
    color: #fff;
    width: 100%;
  }

  .details-container {
    position: absolute;
    top: 45%;
    transform: translateY(-10%);
    margin-left: 10%;
    color: #fff;
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .container-template {
    width: 100%;
    height: auto;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .center-container {
    width: 100%;
  }

  .text-container-template {
    top: 20%;
    transform: translateY(-30%);
    text-align: left;
    align-items: center;
    width: 100%;
  }

  .title-template {
    font-size: 28px;
    width: 100%;
  }

  .details-container {
    top: 42%;
    width: 80%;
    text-align: justify;
    transform: translateY(-25%);
  }

  .details-container p {
    font-size: 16px;
    line-height: 1.2;
  }

  .container-list {
    top: 57%;
    color: #fff;
    font-weight: 400;
    left: -5%;
  }
}
